# Replace latest by a specific date
http://nightly.odoo.com/14.0/nightly/src/odoo_14.0.latest.zip
# For merged modules
# odoo14-addon-module-name==14.0.1.0.0
# For unmerged modules
# git+https://github.com/ursais/crm@14.0-crm_claim#egg=odoo14-addon-crm-claim&subdirectory=setup/crm_claim
num2words==0.5.10
